.item-flex {
  padding: 35px 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  font-size: 16px;
}

.item-flex span {
  font-weight: bold;
}

.camera-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  .video-js {
    flex: 1;
  }
}



