<div class="temp-wrap">
  <nz-modal [(nzVisible)]="showModel" nzWidth="800" [nzFooter]="null" (nzOnCancel)="close()">
    <nz-tabset>
      <nz-tab nzTitle="实时视频">
        <div class="item-flex">
          <div>摄像头名称：<span>{{dataInfo.cameraName}}</span></div>
        </div>
        <div class="camera-wrap" style="width: 100%">
          <video id="my-video" class="video-js vjs-default-skin video-js vjs-big-play-centered"></video>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-modal>
</div>

