<page-header [title]="'企业储罐详情'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form   se-container="1" labelWidth="200">
    <se label="储罐编号">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.tankNo}}
      </nz-col>
    </se>
    <se label="储罐名称" >
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.tankName}}
      </nz-col>
    </se>
    <se label="储罐类型" >
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.tankType|map:'tankType'}}
      </nz-col>
    </se>
    <se label="储罐形式">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.tankForm|map:'tankForm'}}
      </nz-col>
    </se>
    <se label="储罐结构">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.tankStructure|map:'tankStructure'}}
      </nz-col>
    </se>
    <se label="储罐材质">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.tankMate|map:'tankMate'}}
      </nz-col>
    </se>
    <se label="储罐容量（立方米）">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.tamkCapacity}}
      </nz-col>
    </se>
    <se label="投产时间">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.productionDate|map:'date:yyyy-MM-dd HH:mm:ss'}}
      </nz-col>
    </se>
    <se label="经度">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.longitude}}
      </nz-col>
    </se>
    <se label="纬度">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.latitude}}
      </nz-col>
    </se>
    <se label="在厂区的位置">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.locFactory}}
      </nz-col>
    </se>
    <se>
      <div class="detail-modal-footer">
        <button nz-button type="button" (click)="returnBackToList()" nzType="primary">返回</button>
      </div>
    </se>
  </form>
</nz-card>


