<page-header [title]="'储罐详情页'"></page-header>
<nz-card [nzHoverable]="true" [nzBordered]="false">
  <sv-container size="large" title="基本信息">
    <sv label="储罐编号">{{dataInfo.tankNo}}</sv>
    <sv label="储罐名称">{{dataInfo.tankName}}</sv>
    <sv label="储罐类型">{{dataInfo.tankType|map:'tankType'}}</sv>
    <sv label="储罐形式">{{dataInfo.tankForm|map:'tankForm'}}</sv>
    <sv label="储罐结构">{{dataInfo.tankStructure|map:'tankStructure'}}</sv>
    <sv label="储罐材质">{{dataInfo.tankMate|map:'tankMate'}}</sv>
    <sv label="储罐容量">{{dataInfo.tankCapacity}}</sv>
    <sv label="投产时间">{{dataInfo.productionDate|map:'date:yyyy-MM-dd HH:mm'}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <sv-container size="large" title="位置管理">
    <sv label="经纬度"><span (click)="showMap()" class="operate-text">查看</span></sv>
    <sv label="厂区中位置">{{dataInfo.locFactory}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <div class="text-lg mb-md">介质列表</div>
  <st #st [page]="{showSize:true, front: false}"
      [bordered]="true"
      [scroll]="{x: '1200px'}"
      [widthMode]="{ type: 'strict' }" [data]="dataInfo.majorHazardMaterials" [columns]="columns" class="mt-sm"></st>
</nz-card>
<footer-toolbar errorCollect>
  <button nz-button type="primary" (click)="returnToList()" nzType="default">返回</button>
</footer-toolbar>
