.wraper {
  margin-top: 10px;
  position: relative;
}

.identification-wrap {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 400;
  display: flex;
  background: #ffffff;

  .identification {
    height: 40px;
    width: 150px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #CDCDCD;
    cursor: pointer;
    &:hover{
      color: #409eff;
    }
    &:not(:last-child):after {
      content: "";
      position: absolute;
      right: 0;
      display: block;
      height: 25px;
      border-right: 1px dashed #CDCDCD;

    }
  }


}

.active {
  color: #409eff!important;
}

.unActive {
  color: #CDCDCD!important;
}

