.wraper {
  margin-top: 10px;
  position: relative;
}

.identification-wrap {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 400;
  display: flex;
  background: #ffffff;

  .identification {
    height: 40px;
    width: 150px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #CDCDCD;
    &:not(:last-child):after {
      content: "";
      position: absolute;
      right: 0;
      display: block;
      height: 25px;
      border-right: 1px dashed #CDCDCD;

    }
  }


}

.active {
  border: 1px solid #1D2E59;
  color: #00D6FF;
  background: #1D2E59 !important;
}

.unActive {
  color: #ffffff;
  border-color: #ffffff;
}

