
<div class="wraper">
  <div id="map" style="width: 100%;height: 800px"></div>

  <div class="layer-wrap">
    <div class="layer-item" [ngClass]="{active:item.isSel,unActive:!item.isSel}"  *ngFor="let item of layerObjArray" (click)="selIdentification(item)">
      <span class="icon iconfont" [ngClass]="item.icon" ></span>
      <span>{{item.name}}</span>
      <span>（{{item.count}}）</span>
    </div>
  </div>


  <div class="identification-wrap">
    <div class="identification" [ngClass]="{active:item.isSel,unActive:!item.isSel}" *ngFor="let item of identificationBtnObjArray;" (click)="selIdentification(item)">
      <span class="icon iconfont" [ngClass]="item.icon" ></span>
      <span>{{item.name}}</span>
      <span>（{{item.count}}）</span>
    </div>
  </div>

  <div class="alarm-list" *ngIf="currentSelLayerBtnIndex===layerEnum.Alarm">

    <div class="list-wrap">
      <alarm-list></alarm-list>
    </div>
  </div>

  <div class="temp-wrap">
    <temp-modal></temp-modal>
  </div>

</div>




