.wraper {
  margin-top: 74px;
  position: relative;
}

.layers{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 400;
}

.active{
  color: #096dd9;
  border-color: #096dd9;
}
.unActive{
  color: #ffffff;
  border-color: #ffffff;
}
