<div class="wraper">
  <div id="map" style="width: 100%;height: 800px"></div>

  <div class="layer-wrap">
    <div class="layer-item" [ngClass]="{active:item.isSel,unActive:!item.isSel}" *ngFor="let item of layerObjArray"
         (click)="selIdentification(item)">
      <span class="icon iconfont" [ngClass]="item.icon"></span>
      <span>{{item.name}}</span>
      <span>（{{item.count}}）</span>
    </div>

    <div class="back-btn" *ngIf="currentRole===roleEnum[roleEnum.ParkManage]">
      <button nzBlock nz-button (click)="returnBack()" [nzType]="'primary'">返回</button>
    </div>
  </div>


  <div class="identification-wrap">
    <div class="identification" [ngClass]="{active:item.isSel,unActive:!item.isSel}"
         *ngFor="let item of identificationBtnObjArray;" (click)="selIdentification(item)">
      <span class="icon iconfont" [ngClass]="item.icon"></span>
      <span>{{item.name}}</span>
      <span>（{{item.count}}）</span>
    </div>
  </div>

  <div class="alarm-list" *ngIf="currentSelLayerBtnIndex===layerEnum.Alarm">

    <div class="list-wrap">
      <alarm-list [entprId]="enterpriseInfo.id"></alarm-list>
    </div>
  </div>

  <div class="temp-wrap" *ngIf="modelIsShow.temp">
    <temp-modal [id]="selectTempId" [(showModel)]="modelIsShow.temp"></temp-modal>
  </div>

  <div class="temp-wrap" *ngIf="modelIsShow.press">
    <press-modal [id]="selectPressId" [(showModel)]="modelIsShow.press"></press-modal>
  </div>

  <div class="temp-wrap" *ngIf="modelIsShow.waterLevel">
    <water-level-modal [id]="selectWaterLevelId" [(showModel)]="modelIsShow.waterLevel"></water-level-modal>
  </div>

  <div class="temp-wrap" *ngIf="modelIsShow.fireGas">
    <combustible-gas-modal [id]="selectFireGasId" [(showModel)]="modelIsShow.fireGas"></combustible-gas-modal>
  </div>

  <div class="temp-wrap" *ngIf="modelIsShow.poisonousGas">
    <toxic-gas-modal [id]="selectPoisonId" [(showModel)]="modelIsShow.poisonousGas"></toxic-gas-modal>
  </div>

  <!--危险源-->
  <div class="temp-wrap" *ngIf="modelIsShow.hazardSource">
    <major-hazard-sources [(showModel)]="modelIsShow.hazardSource" [id]="hazardId"></major-hazard-sources>
  </div>

  <div class="temp-wrap" *ngIf="modelIsShow.camera">
    <camera-list-modal [(showModel)]="modelIsShow.camera" [id]="selectCameraId"></camera-list-modal>
  </div>
</div>




