<!-- 苏州登录页-->
<div class="login-bg">
  <div class="login-content">
    <div class="point-block-left"><span></span></div>
    <div class="point-block-right"><span></span></div>
    <div class="login-center">
      <div class="login-wrap">
        <h3>用户登录</h3>
        <div class="line"></div>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="loginSubmit()">
          <div class="input-wrap">
            <nz-input-group>
            </nz-input-group>
            <nz-input-group [nzPrefix]="prefixUser">
              <input class="login-input user" formControlName="userAccount" nz-input placeholder="请输入用户名">
            </nz-input-group>
            <nz-input-group>
            </nz-input-group>
            <nz-input-group [nzPrefix]="prefixLock">
              <input class="login-input password" [type]="'password'" formControlName="password" nz-input
                     placeholder="请输入密码">
            </nz-input-group>
            <div class="danger-color text-center" [class.warrons]="isSubmit">{{'填入正确的用户名、密码'}}</div>
            <ng-template #prefixUser><i class="icon iconfont user"></i></ng-template>
            <ng-template #prefixLock><i class="icon iconfont lock"></i></ng-template>
          </div>
          <nz-form-item>
            <nz-form-control [nzOffset]="2" [nzSpan]="19">
              <button class="login-btn cursor-pointer" nz-button
                      type="submit"
                      [nzLoading]="loading">登录
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>
</div>
