<login-manage-head headName="园区介绍"></login-manage-head>

<ng-container *ngIf="currentPageType===pageTypeEnum.MainPage">
  <main>
    <div class="introduction-block" (click)="goPage(pageTypeEnum.PlatformIntroduction)">
      <div class="title">园区平台介绍</div>
      <div class="content-wrap">
        <div class="park-info">
          <img *ngIf="!!parkIntroductionInfo" [src]="parkIntroductionInfo.pictureUrl" alt="">
          <div class="font-text">
            &nbsp;&nbsp;  <span *ngIf="!!parkIntroductionInfo"  [innerHTML]="parkIntroductionInfo.detail"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="introduction-block" (click)="goPage(pageTypeEnum.PublicityNotice)">
      <div class="title">公示公告</div>
      <div class="content-wrap">
        <div class="notice-list">
          <div class="notice-item" *ngFor="let item of announcementList;let i=index;">
            <div class="time">{{item.createTime|map:'date:yyyy-MM-dd HH:mm:ss'}}</div>
            <div class="line"></div>
            <span class="one-line">{{item.title}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="introduction-block" (click)="goPage(pageTypeEnum.IndustryDynamics)">
      <div class="title">行业动态</div>
      <div class="content-wrap">
        <div class="industry-dynamics-list">
          <div class="industry-dynamics-item" *ngFor="let item of industryNewsList;let i=index;">
            <div class="news-title">{{item.title}}</div>
            <div>{{item.createTime|map:'date:yyyy-MM-dd HH:mm:ss'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="introduction-block" (click)="goPage(pageTypeEnum.DocumentNotice)">
      <div class="title">文件通知</div>
      <div class="content-wrap">
        <div class="notice-list">
          <div class="notice-item"  *ngFor="let item of fileNotifiList;let i=index;">
            <div class="time">{{item.createTime|map:'date:yyyy-MM-dd HH:mm:ss'}}</div>
            <div class="line"></div>
            <span class="icon iconfont text"></span>
            <span class="one-line">{{item.title}}</span>
            <span class="icon iconfont download"></span>
          </div>
        </div>
      </div>
    </div>

  </main>
</ng-container>

<!--园区平台介绍-->
<ng-container *ngIf="currentPageType===pageTypeEnum.PlatformIntroduction">
  <park-introduction-detail (returnToMainPage)="goBack()"></park-introduction-detail>
</ng-container>

<!--公示公告-->
<ng-container *ngIf="currentPageType===pageTypeEnum.PublicityNotice">
  <publicity-notice-list (returnBackToMainPage)="goBack()"></publicity-notice-list>
</ng-container>

<!--行业动态-->
<ng-container *ngIf="currentPageType===pageTypeEnum.IndustryDynamics">
  <industry-dynamics-list (returnBackToMainPage)="goBack()"></industry-dynamics-list>
</ng-container>

<!--文件通知-->
<ng-container *ngIf="currentPageType===pageTypeEnum.DocumentNotice">
  <document-notification-list (returnBackToMainPage)="goBack()"></document-notification-list>
</ng-container>


