<login-manage-head headName="园区介绍"></login-manage-head>

<ng-container *ngIf="currentPageType===pageTypeEnum.MainPage">
  <main>
    <div class="introduction-block" (click)="goPage(pageTypeEnum.PlatformIntroduction)">
      <div class="title">园区平台介绍</div>
      <div class="content-wrap">
        <div class="park-info">
          <img src="../../../../assets/imgs/login-manage/example.png" alt="">
          <div class="font-text">
            &nbsp;&nbsp;&nbsp;&nbsp;2007年9月21日,经苏州市人民政府批准（苏府复〔2007〕145号）,在吴中经济开发区内设立吴中区化工集中区。为了进一步加强化工集中区管理，2017年12月12日，经开发区党工委、管委会第15次会议研究同意，筹建吴中化工园区管理委员会。
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;吴中化工园区位于吴中经济技术开发区，规划面积约5.22平方公里，其中河东片区范围为东至苏嘉杭高速公路，西至京杭大运河，南至吴淞江北，北至北尹丰路；城南片区范围为东至京杭大运河，西至双祺路，南至兴吴路，北至南湖快速路。园区区位交通快捷便利，发展日益成熟，基础设施建设日趋完备，明确定位生物医药和精细化工为两大主导产业，未来将重点发展该两大主导产业及其上下游产业链。依托当前区内主要产业优势，引进该产业上下游关联度强、技术水平高、绿色安全可控的企业和项目，进一步补链、延链、强链，力争打造集精细化工、生物医药为一体的产业发展新高地。

          </div>
        </div>
      </div>
    </div>
    <div class="introduction-block" (click)="goPage(pageTypeEnum.PublicityNotice)">
      <div class="title">公示公告</div>
      <div class="content-wrap">
        <div class="notice-list">
          <div class="notice-item">
            <div class="time">2019-11-29 10:02:39</div>
            <div class="line"></div>
            <span class="one-line">
              省应急管理厅关于拟纳入联合惩戒对象的公示
            </span>
          </div>
          <div class="notice-item">
            <div class="time">2019-11-15 15:30:16</div>
            <div class="line"></div>
            <span class="one-line">
              省应急管理厅关于召开中央企业结对帮扶提升徐州等五市危化品安全生产能力工作会议的通知
            </span>
          </div>
          <div class="notice-item">
            <div class="time">2019-11-25 14:02:13</div>
            <div class="line"></div>
            <span class="one-line">
              省应急管理厅关于召开全省安全生产调查统计和诚信体系建设工作会议的通知
            </span>
          </div>
          <div class="notice-item">
            <div class="time">2019-11-05 11:20:41</div>
            <div class="line"></div>
            <span class="one-line">
              江苏省应急管理厅公告2019年 第10号
            </span>
          </div>
          <div class="notice-item">
            <div class="time">2019-10-29 10:02:13</div>
            <div class="line"></div>
            <span class="one-line">
              江苏省应急管理厅关于采取有力措施切实加强停产复产关闭退出化工企业安全生产工作的通知
            </span>
          </div>
          <div class="notice-item">
            <div class="time">2019-11-21 15:49:15</div>
            <div class="line"></div>
            <span class="one-line">
              省应急管理厅关于召开全省化工企业安全生产信息化管理平台建设现场会的通知
            </span>
          </div>
          <div class="notice-item">
            <div class="time">2019-10-24 09:54:23</div>
            <div class="line"></div>
            <span class="one-line">
              省应急管理厅关于召开全省化工企业安全生产信息化管理平台建设现场会的通知
            </span>
          </div>
          <div class="notice-item">
            <div class="time">2019-10-21 10:36:58</div>
            <div class="line"></div>
            <span class="one-line">
              关于印发《江苏省化工企业安全风险分区分级指南（试行）》的通知
            </span>
          </div>

        </div>
      </div>
    </div>
    <div class="introduction-block" (click)="goPage(pageTypeEnum.IndustryDynamics)">
      <div class="title">行业动态</div>
      <div class="content-wrap">
        <div class="industry-dynamics-list">
          <div class="industry-dynamics-item">
            <div class="news-title">我省研究审议第二批安全生产巡查报告并作工作部署</div>
            <div>2019-11-01 11:08:28</div>
          </div>
          <div class="industry-dynamics-item">
            <div class="news-title">2019中国安全及应急技术装备博览会在我省徐州市举行</div>
            <div>2019-10-28 09:34:20</div>
          </div>
          <div class="industry-dynamics-item">
            <div class="news-title">省安委会办公室强调防懈怠防松劲防反弹坚决遏制各类生产安全事故</div>
            <div>2019-10-08 10:10:52</div>
          </div>
          <div class="industry-dynamics-item">
            <div class="news-title">陈忠伟厅长明查暗访化工企业调研危化品安全生产信息化建设</div>
            <div>2019-07-26 10:11:41</div>
          </div>
          <div class="industry-dynamics-item">
            <div class="news-title">2019年全省“安全生产月”活动圆满收官</div>
            <div>2019-07-03 09:24:43</div>
          </div>
          <div class="industry-dynamics-item">
            <div class="news-title">全省救援协调和预案管理工作会议在南京召开</div>
            <div>2019-05-29 14:01:12</div>
          </div>
        </div>
      </div>
    </div>
    <div class="introduction-block" (click)="goPage(pageTypeEnum.DocumentNotice)">
      <div class="title">文件通知</div>
      <div class="content-wrap">
        <div class="notice-list">
          <div class="notice-item">
            <div class="time">2019-11-06 10:02:13</div>
            <div class="line"></div>
            <span class="icon iconfont text"></span>
            <span class="one-line">江苏省化工企业安全风险分区分级指南（试行）</span>
            <span class="icon iconfont download"></span>
          </div>
          <div class="notice-item">
            <div class="time">2019-10-28 11:41:31</div>
            <div class="line"></div>
            <span class="icon iconfont text"></span>
            <span class="one-line">江苏省化工企业安全生产信息化管理平台建设基本要求（试行）</span>
            <span class="icon iconfont download"></span>
          </div>
          <div class="notice-item">
            <div class="time">2019-10-14 15:32:31</div>
            <div class="line"></div>
            <span class="icon iconfont text"></span>
            <span class="one-line">江苏省安全生产信息化数据规范</span>
            <span class="icon iconfont download"></span>
          </div>
          <div class="notice-item">
            <div class="time">2019-10-08 16:15:17</div>
            <div class="line"></div>
            <span class="icon iconfont text"></span>
            <span class="one-line">全面实施危险化学品企业安全风险研判与承诺公告制度的通知</span>
            <span class="icon iconfont download"></span>
          </div>
          <div class="notice-item">
            <div class="time">2019-09-24 11:42:26</div>
            <div class="line"></div>
            <span class="icon iconfont text"></span>
            <span class="one-line">危险化学品重大危险源在线监控及事故预警系统建设指南（试行）</span>
            <span class="icon iconfont download"></span>
          </div>
          <div class="notice-item">
            <div class="time">2019-09-10 10:30:19</div>
            <div class="line"></div>
            <span class="icon iconfont text"></span>
            <span class="one-line">化工园区安全风险排查治理导则（试行）</span>
            <span class="icon iconfont download"></span>
          </div>
          <div class="notice-item">
            <div class="time">2019-08-27 14:22:47</div>
            <div class="line"></div>
            <span class="icon iconfont text"></span>
            <span class="one-line">危险化学品企业安全风险隐患排查治理导则</span>
            <span class="icon iconfont download"></span>
          </div>
          <div class="notice-item">
            <div class="time">2019-08-21 09:24:13</div>
            <div class="line"></div>
            <span class="icon iconfont text"></span>
            <span class="one-line">危险化学品重大危险源在线监控及事故预警系统数据交换准则（试行）</span>
            <span class="icon iconfont download"></span>
          </div>

        </div>
      </div>
    </div>

  </main>
</ng-container>

<!--园区平台介绍-->
<ng-container *ngIf="currentPageType===pageTypeEnum.PlatformIntroduction">
  <park-introduction-detail (returnToMainPage)="goBack()"></park-introduction-detail>
</ng-container>

<!--公示公告-->
<ng-container *ngIf="currentPageType===pageTypeEnum.PublicityNotice">
  <publicity-notice-list (returnBackToMainPage)="goBack()"></publicity-notice-list>
</ng-container>

<!--行业动态-->
<ng-container *ngIf="currentPageType===pageTypeEnum.IndustryDynamics">
  <industry-dynamics-list (returnBackToMainPage)="goBack()"></industry-dynamics-list>
</ng-container>

<!--文件通知-->
<ng-container *ngIf="currentPageType===pageTypeEnum.DocumentNotice">
  <document-notification-list (returnBackToMainPage)="goBack()"></document-notification-list>
</ng-container>


