<ng-container *ngIf="currentPage===pageTypeEnum.List">
  <page-header  [autoBreadcrumb]="false" [title]="'重点监管危险化工工艺列表'"></page-header>
  <nz-card [nzBordered]="true">
    <form nz-form [nzLayout]="'inline'" (ngSubmit)="getDataList(1)" class="search__form">
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        <div nz-col nzMd="8" nzSm="24" [acl]="roleEnum[roleEnum.ParkManage]">
          <nz-form-item>
            <nz-form-label nzFor="no">企业名称</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]="searchParam.entprName" name="no" placeholder="请输入企业名称"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="status">危险工艺名称</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]="searchParam.processName" name="no" placeholder="请输入危险工艺名称"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
          <button nz-button type="submit" [nzType]="'primary'">查询</button>
          <button nz-button (click)="reset()" class="mx-sm">重置</button>
        </div>
      </div>
    </form>
    <button nz-button [nzType]="'primary'" class="m-b-sm" [acl]="roleEnum[roleEnum.Enterprise]" (click)="add()">
      <i nz-icon nzType="plus"></i>
      <span>新建</span>
    </button>

    <st #st [page]="{showSize:true, front: false}"
        [pi]="listPageInfo.pi" [ps]="listPageInfo.ps" [total]="listPageInfo.total" [bordered]="true"
        [scroll]="{x: '300px'}"
        [widthMode]="{ type: 'strict' }" [data]="dataList"  (change)="changePage($event)" [columns]="columns" class="mt-sm"></st>
  </nz-card>


</ng-container>

<ng-container *ngIf="currentPage===pageTypeEnum.DetailOrExamine">
  <app-key-supervision-management-hazardous-chemical-processes-detail [id]="this.itemId" [currentPageNum]="listPageInfo.ps" (returnBack)="returnToList($event)"></app-key-supervision-management-hazardous-chemical-processes-detail>
</ng-container>

<ng-container *ngIf="currentPage===pageTypeEnum.AddOrEdit">
  <app-key-supervision-management-hazardous-chemical-processes-edit-add [id]="this.itemId" [currentPageNum]="listPageInfo.pi" (returnBack)="returnToList($event)"></app-key-supervision-management-hazardous-chemical-processes-edit-add>
</ng-container>

