:host-context .test-cell{}


$table-header-height: 50px;

$fix-footer-height: 55px;
$tabset-bar-height: 40px;

$content-padding: 15px;
$scroll-bar-width: 9px;

$tab-page-padding-top: 10px;
$tab-page-padding-bottom: 10px;
$tab-page-padding-left: 10px;
$tab-page-padding-right: 10px;

$top-menu-bar-height: 70px;
$top-menu-hover-color: #087b6f;
$top-menu-bar-student-height: 100px;
$side-menu-bar-width: 180px;
$logo-width: 45px;

$length-5: 5px;
$length-10: 10px;
$length-20: 20px;
$length-30: 30px;
$length-40: 40px;
$length-50: 50px;
$light-bg: #fff;
$light-gray-bg: #eee;
$online-color: #21d37d;
$outline-color: #eeeeee;
$warning-color: #fe4d45;
$info-color: #1BA9EE;


$table-header-bg-color: #f1f1f1;

//表格行，下拉行 悬停颜色
$tr-hover-bg: #f6fcfb;

$back-button-color: #FF6000;


$primary-color: blue;
$danger-color: #f00;
$remind-color: #FF8686;
@mixin pos-abs {
  position: absolute;
}

@mixin pos-abs-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin fix-abs-full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin overflow-dots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* =========== 自定义所有滚动条样式 */
*::-webkit-scrollbar {
  width: $scroll-bar-width;
  height: $scroll-bar-width;
  background: $table-header-bg-color;
}

*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: $scroll-bar-width / 2;
}

*::-webkit-scrollbar-corner {
  background: $table-header-bg-color;
}

/* =========== 下拉框选择item背景色 */
.ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover {
  background-color: #D7F3E6;
}

/* =========== 修正导航右键菜单滚动时显示位置 */
.context-menu-backdrop + .cdk-overlay-connected-position-bounding-box > .cdk-overlay-pane {
  right: -130px !important;
  bottom: -32px !important;
}

/* =========== 修正进度条圆角 */
.ant-progress-bg,
.ant-progress-success-bg {
  border-radius: 100px;
}

/* =========== 调整列表样式 */
.ant-table {
  color: #333;
  border-radius: 0 !important;
  border-bottom: 1px solid $table-header-bg-color;

  th {
    border-bottom-color: $table-header-bg-color !important;
    background: $table-header-bg-color !important;
    font-weight: bold !important;
    color: #666 !important;
  }

  td {
    border-bottom-color: transparent !important;
  }

  table, th {
    text-align: center !important;
  }

  th, td {
    border-radius: 0 !important;
    border-right-color: #ebebeb !important;
  }

  .ant-table-tbody > tr:nth-child(even),
  .ant-table-tbody > tr:nth-child(even) .ant-table-td-left-sticky,
  .ant-table-tbody > tr:nth-child(even) .ant-table-td-right-sticky {
    background-color: #f7f7f7 !important;
  }

  .ant-table-tbody > tr:hover,
  .ant-table-tbody > tr:hover .ant-table-td-left-sticky,
  .ant-table-tbody > tr:hover .ant-table-td-right-sticky {
    background-color: $tr-hover-bg !important;
  }

  .ant-table-tbody > tr:hover .ant-table-td-left-sticky,
  .ant-table-tbody > tr:hover .ant-table-td-right-sticky {
    background-color: $tr-hover-bg;
  }

  .ant-table-body {
    margin: 0 !important;
  }
}


.ant-pagination {
  color: #666;
  padding-right: $length-20;
}

// 设置表格外边距 Andyhuang
.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
}
// 设置表格头部样式 adnyhuang
.ant-table-row th {
  background: $table-header-bg-color !important;
  font-weight: bold;
}

.ant-table-header{
  height: 15px;
}

.ant-table-fixed-header .ant-table-scroll .ant-table-header::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background: $table-header-bg-color;
}
.ant-table-fixed-header .ant-table-scroll .ant-table-header::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 4px;
}
.ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background: $table-header-bg-color;
}
.ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 4px;
}

/* =========== 抽屉背景图层透明度设置为0.8 */
.ant-drawer.ant-drawer-open .ant-drawer-mask {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 1);
}

/* =========== 左侧菜单样式调整 */
.ant-layout-sider {
  /*background-color: #001529;*/
}

.ant-layout-sider-trigger {
  /*  position: absolute;
    background-color: #001529;*/
}

/* =========== 边框，focus颜色 */
.ant-input:hover,
.ant-input-number:hover,
.ant-select-selection:hover {
  border-color: $primary-color;
}

.ant-input:focus,
.ant-input-number:focus,
.ant-select-open .ant-select-selection,
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus, .ant-select-selection:active,
.ant-cascader-picker:focus .ant-cascader-input {
  border-color: $primary-color;
  box-shadow: 0 0 0 2px rgba(24, 154, 140, 0.2);
}



.marker-machine {
  width: 72px;
  height: 85px;
  padding-top: 18px;
  position: relative;
}

.marker-machine .machine-logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #ffffff;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.marker-machine .machine-name {
  position: absolute;
  left: 0;
  bottom: -10px;
  right: 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.location-alarm .machine-name {
  color: $warning-color;
}

.location-online .machine-name {
  color: $online-color;
}

.location-outline .machine-name {
  color: $outline-color;
}

.marker-machine-info-win {
  position: relative;
  width: 337px;
  height: 253px;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.marker-machine-info-win .close-btn {
  position: absolute;
  top: 10px;
  right: 16px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  background: #ccc;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 15px;
  box-shadow: -1px 1px 1px rgba(10, 10, 10, .2);
}

.marker-machine-info-win .close-btn:hover {
  background: #666;
  cursor: pointer;
}

.triangle-dwon {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  transform: translateY(50%);
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid #ffffff;
}


.marker-machine-info-win .info-title {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px dotted #e5e5e5;

  img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 72px;
    margin-left: 16px;
  }

  .right-part .machine-name {
    color: #00b4ed;
    font-size: 14px;
    font-weight: bold;;
  }

  .right-part .machine-address {
    font-size: 12px;
    color: #9b9b9b;
  }

  .right-part .machine-status {
    font-size: 12px;
    border-radius: 4px;
    padding: 2px 8px;
  }

  .right-part .online {
    color: #ffffff;
    background-color: $online-color;
  }

  .right-part .outline {
    color: #9b9b9b;
    background-color: $outline-color;
  }
}

.marker-machine-info-win .info-content {
  margin: 16px 0;
  position: relative;

  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
    margin-bottom: 16px;
    font-size: 12px;

    label {
      color: #4a4a4a;
      margin-right: 8px;
    }

    span {
      color: #9b9b9b;
    }
  }

  a {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
  }
}



.m-t-sm {
  margin-top: $length-10;
}

.m-t-md {
  margin-top: $length-20;
}

.m-t-50 {
  margin-top: $length-50;
}

.m-r-xs {
  margin-right: $length-5;
}

.m-r-sm {
  margin-right: $length-10;
}

.m-l-sm {
  margin-left: $length-10;
}

.m-l-20 {
  margin-left: $length-20;
}

.p-sm {
  padding: $length-10
}

.p-t-xs {
  padding-top: $length-5;
}

.p-t-sm {
  padding-top: $length-10;
}

.p-t-md {
  padding-top: $length-20;
}

.p-b-sm {
  padding-bottom: $length-10;
}

.p-b-md {
  padding-bottom: $length-20;
}

.p-l-xs {
  padding-left: $length-5;
}

.m-b-n {
  margin-bottom: 0;
}

.m-b-xs {
  margin-bottom: $length-5;
}

.m-b-sm {
  margin-bottom: $length-10;
}

.m-b-lg {
  margin-bottom: $length-40;
}

.no-h-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-v-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.danger-color {
  color: $danger-color;
}

.relative-position {
  position: relative;
}

.clear-fix:before,
.clear-fix:after {
  clear: both;
  display: table;
  content: " ";
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.table-wrap {
  width: 100%;
}

.operate-text {
  cursor: pointer;
  color: #409eff;
  margin-right: 5px;

  button {
    margin-left: 5px;
  }
}

.operate-text-disabled {
  color: #aaa;
  cursor: not-allowed;
  margin-right: 5px;
}

.operate-text-danger {
  color: rgb(244, 116, 118);
}

.font-red-color {
  color: #ff0000;
}

.base-color {
  color: #4b4f73;
}

.primary-color {
  color: #358ED7;
}

.danger-color {
  color: #f00;
}

.warn-color {
  color: #e27104
}

.success-color {
  color: #19a103;
}

.link-word {
  color: $info-color;
  cursor: pointer;
}

.submit-button {
  height: 36px;
  width: 70px;
  font-size: 14px;
}

.submit-button + .submit-button {
  margin-left: 20px;
}

.scrollbar-style {
  overflow: auto;
}

.scrollbar-style::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 4px;
}

.bannedClick {
  color: #ccc;
  cursor: not-allowed;
  margin-right: 4px;
}

/* 详情页头部信息 */
.detail-header-info {
  width: 70%;

  nz-form-item {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
    font-size: 16px;
    word-break: break-all;

    nz-form-text {
      line-height: 30px;
    }

    .ant-form-item-label, .ant-form-item-control {
      line-height: 30px;
    }
  }
}

.advanceSearch-form {
  width: 100%;

  nz-form-item {
    display: inline-block;
    width: 22%;
    font-size: 14px;
    word-break: break-all;

    nz-form-text {
      line-height: 30px;
    }
  }
}

.split-bar {
  color: #333;
  font-size: 14px;
  padding: 5px 0px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  margin-left: 5px;

  & > span:first-child {
    border-left: 5px solid blue;
    padding-left: 5px;
  }
}

.detail-table-header {
  margin-bottom: 10px;
}

.table-footer-bar {
  text-align: center;
  margin: 20px 0;

  button {
    margin: 0 10px;
  }
}

.selectStyle {
  width: 100%;
}

.error-information {
  color: red;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.table-header {
  padding: 5px 0 10px 0;
  clear: both;
}

.form-horizontal {
  width: 100%;
  max-width: 600px;
}

.flex-none {
  flex: none;
}

.flex-auto {
  flex: auto;
}

/*@media (max-width: 480px) {
  .form-horizontal {
    width: 100%;
  }
}*/

// textarea不可拉伸
textarea {
  resize: none;
}

/* 文本溢出显示省略号 */
::ng-deep .overflow-dots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}




.table-fixed table {
  width: 100%;
  table-layout: fixed;
}

.search-btns {
  text-align: left;
  margin-left: 10px;
}

/* 重写滑动输入条样式 */
::ng-deep .ant-slider {
  height: $length-20;

  .ant-slider-rail {
    background-color: #e1e1e1;
  }

  .ant-slider-track,
  &:hover .ant-slider-track {
    background-color: #007aff;
  }

  .ant-slider-dot-active,
  &:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #007aff;
  }

  .ant-slider-handle {
    border: solid 3px #007aff;
  }
}

.ant-input {
  height: 38px;
}


/* 下拉选项 */
::ng-deep .ant-select-dropdown {
  font-size: 12px;
}

/* 操作栏 */
::ng-deep .operate-bar {
  padding: 0 0 8px 8px;
}

/* 页签 */
::ng-deep  .ant-tabs {
  &.ant-tabs-card {
    > .ant-tabs-bar {
      .ant-tabs-nav-container {
        height: auto;
      }

      .ant-tabs-tab {
        line-height: 32px;
        margin-right: 5px;
      }
    }
  }

  .ant-tabs-tab .anticon {
    margin-right: 0;
  }

  .tab-con {
    margin-left: -16px;
    margin-right: -16px;
    padding: 0 10px;
  }
}

/* 表格 */
::ng-deep .ant-table-fixed {
  table-layout: fixed;
}

::ng-deep .ant-table-tbody {
  > tr > td {
    @include overflow-dots;
  }
}

::ng-deep .title-panel {
  height: 35px;
  line-height: 34px;
  border-bottom: solid 1px #ccc;
  padding: 0 10px;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  i {
    width: 0;
    height: 14px;
    border-left: solid 3px #f60;
    margin-right: 5px;
  }
}

::ng-deep .marker-machine {
  width: 72px;
  height: 85px;
  padding-top: 18px;
  position: relative;
}


