.item-flex {
  padding: 35px 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: 16px;
  border-bottom: 1px solid #E6E6E6;
}

.item-flex span {
  font-weight: bold;
}

.item-ceshi {
  display: inline-flex;
  width: 300px;
  height: 300px;
}

.history-item {
  display: inline-flex;
  width: 100%;
  height: 300px;
}

.parent {
  position: relative;
}

.item-table {
  position: absolute;
  right: 10%;
  top: 28%;
}

.item-table tr td {
  width: 150px;
  height: 30px;
  border: 1px solid #000;
  text-align: center;
}

table tr td:last-child {
  background-color: #eee;
}

.temper {
  position: absolute;
  top: 78%;
  left: 13%;
  width: 150px;

}

.point {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #0ACD5E;
}
