<div class="temp-wrap">
  <nz-modal [(nzVisible)]="showModel" nzWidth="800" [nzFooter]="null" (nzOnCancel)="close()">
    <nz-tabset>
      <nz-tab nzTitle="实时温度">
        <div class="item-flex">
          <div>传感器名称：<span>甲苯温度传感器</span></div>
          <div>传感器编号：<span>JK-244</span></div>
          <div>位置：<span>1号库房东北角</span></div>
        </div>
        <div class="parent">
          <div class="chart-wrap">
            <div echarts (chartInit)="onChartInit($event)" [options]="Option"></div>
            <dl class="temper">
              <dt>温度值：40℃</dt>
              <dd style="text-indent: 14px">状态：<i class="point"></i> <span> 正常</span></dd>
            </dl>
          </div>


          <table class="item-table">
            <tr>
              <td>一级阈值（℃）</td>
              <td>100</td>
            </tr>
            <tr>
              <td>二级阈值（℃）</td>
              <td>300</td>
            </tr>
          </table>
        </div>
      </nz-tab>
      <nz-tab nzTitle="历史温度">
        <div class="item-flex">
          <div>
            <nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>
          </div>
          <div>
            <button nz-button  [nzType]="'primary'">查询</button>
            <button nz-button class="mx-sm">重置</button>
          </div>
        </div>
        <div class="history-parent">
          <div class="history-item"  (chartInit)="onChartInit($event)"  echarts [options]="historyOption"></div>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-modal>
</div>
