<div class="temp-wrap">
  <nz-modal [(nzVisible)]="showModel" nzWidth="800" [nzFooter]="null" (nzOnCancel)="close()">
    <nz-tabset>
      <nz-tab nzTitle="实时温度">
        <page-header title="" [autoBreadcrumb]="false">
          <sv-container size="large" col="3">
            <sv label="传感器名称">{{currentDataInfo.sensorName}}</sv>
            <sv label="传感器编号">{{currentDataInfo.sensorNo}}</sv>
            <sv label="一级阈值">{{currentDataInfo.locFactory}}</sv>
            <sv label="二级阈值">{{currentDataInfo.locFactory}}</sv>
            <sv label="位置">{{currentDataInfo.locFactory}}</sv>
          </sv-container>
        </page-header>
        <div class="parent">
          <div echarts style="width: 100%" (chartDataZoom)="dataZoomChange($event)"  (chartInit)="onRealTimeChartInit($event)"  [options]="realTimeOptions"></div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="历史温度" (nzSelect)="selHistoryTab()">
        <div class="item-flex">
          <div>
            <nz-range-picker  nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="dateRange"></nz-range-picker>
          </div>
          <div>
            <button nz-button  [nzType]="'primary'" (click)="searchHistroyByTimeRange()">查询</button>
            <button nz-button class="mx-sm" (click)="resetSearch()">重置</button>
          </div>
        </div>
        <div class="history-parent">
          <div class="history-item" (chartInit)="onHistoryChartInit($event)"  echarts [options]="historyOption"></div>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-modal>
</div>
