<ng-container *ngIf="currentPage===pageTypeEnum.List">
  <page-header [autoBreadcrumb]="false" [title]="'传感器数据'"></page-header>
  <nz-card [nzBordered]="true">
    <form nz-form [nzLayout]="'inline'" (ngSubmit)="getDataList(1)" class="search__form">
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        <div nz-col nzMd="6" nzSm="24" [acl]="[roleEnum[roleEnum.ParkManage],roleEnum[roleEnum.SafeMonitor]]">
          <nz-form-item>
            <nz-form-label nzFor="no">企业名称</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请输入企业名称" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchParam.entprName">
                <nz-option *ngFor="let i of entprScaleOptions" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="6" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="status">传感器编号</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]="searchParam.sensorNo" name="no" placeholder="请输入传感器编号"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="6" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="status">开始时间</nz-form-label>
            <nz-form-control>
              <nz-date-picker  [nzDisabledDate]="disabledStartDate" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
                               (ngModelChange)="changeStartSearchDate($event)" placeholder="请输入开始时间"
                               [(ngModel)]="searchParam.beginTime" [ngModelOptions]="{standalone: true}"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="6" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="status">结束时间</nz-form-label>
            <nz-form-control>
              <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" [nzDisabledDate]="disabledDate.bind(this)"
                              placeholder="请输入结束时间" [disabled]="!searchParam.beginTime" [(ngModel)]="searchParam.endTime"
                              [ngModelOptions]="{standalone: true}"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
          <button nz-button type="submit" [nzType]="'primary'">查询</button>
          <button nz-button (click)="reset()" class="mx-sm">重置</button>
        </div>
      </div>
    </form>

    <st #st [page]="{showSize:true, front: false}"
        [pi]="listPageInfo.pi" [ps]="listPageInfo.ps" [total]="listPageInfo.total" [bordered]="true"
        [scroll]="{x: '1400px'}"
        [widthMode]="{ type: 'strict' }" [data]="dataList"  (change)="changePage($event)" [columns]="columns" class="mt-sm"></st>
  </nz-card>
</ng-container>

