<div class="notice-list-wrap">
  <div class="content-block">
    <p><span class="icon iconfont to-left" (click)="goMainList()"></span></p>
    <div class="title">文件通知</div>
    <div class="content-wrap">
      <div class="notice-list">
        <div class="notice-item" down-file  file-name="江苏省化工企业安全风险分区分级指南（试行）" http-url="../../../../../assets/tmp/aaa.xlsx">
          <div class="time">2019-11-06 10:02:13</div>
          <div class="line"></div>
          <span class="icon iconfont text"></span>
          <span class="one-line">江苏省化工企业安全风险分区分级指南（试行）</span>
          <span class="icon iconfont download"></span>
        </div>
        <div class="notice-item" down-file  file-name="江苏省化工企业安全生产信息化管理平台建设基本要求（试行）" http-url="../../../../../assets/tmp/aaa.xlsx">
          <div class="time">2019-10-28 11:41:31</div>
          <div class="line"></div>
          <span class="icon iconfont text"></span>
          <span class="one-line">江苏省化工企业安全生产信息化管理平台建设基本要求（试行）</span>
          <span class="icon iconfont download"></span>
        </div>
        <div class="notice-item" down-file  file-name="江苏省安全生产信息化数据规范（试行）" http-url="../../../../../assets/tmp/aaa.xlsx">
          <div class="time">2019-10-14 15:32:31</div>
          <div class="line"></div>
          <span class="icon iconfont text"></span>
          <span class="one-line">江苏省安全生产信息化数据规范</span>
          <span class="icon iconfont download"></span>
        </div>
        <div class="notice-item" down-file  file-name="危险化学品重大危险源在线监控及事故预警系统建设指南（试行）" http-url="../../../../../assets/tmp/aaa.xlsx">
          <div class="time">2019-09-24 11:42:26</div>
          <div class="line"></div>
          <span class="icon iconfont text"></span>
          <span class="one-line">危险化学品重大危险源在线监控及事故预警系统建设指南（试行）</span>
          <span class="icon iconfont download"></span>
        </div>
        <div class="notice-item" down-file  file-name="化工园区安全风险排查治理导则（试行）" http-url="../../../../../assets/tmp/aaa.xlsx">
          <div class="time">2019-09-10 10:30:19</div>
          <div class="line"></div>
          <span class="icon iconfont text"></span>
          <span class="one-line">化工园区安全风险排查治理导则（试行）</span>
          <span class="icon iconfont download"></span>
        </div>
        <div class="notice-item" down-file  file-name="危险化学品企业安全风险隐患排查治理导则（试行）" http-url="../../../../../assets/tmp/aaa.xlsx">
          <div class="time">2019-08-21 09:24:13</div>
          <div class="line"></div>
          <span class="icon iconfont text"></span>
          <span class="one-line">危险化学品企业安全风险隐患排查治理导则</span>
          <span class="icon iconfont download"></span>
        </div>
        <div class="notice-item" down-file  file-name="危险化学品重大危险源在线监控及事故预警系统数据交换准则（试行）" http-url="../../../../../assets/tmp/aaa.xlsx">
          <div class="time">2019-08-21 09:24:13</div>
          <div class="line"></div>
          <span class="icon iconfont text"></span>
          <span class="one-line">危险化学品重大危险源在线监控及事故预警系统数据交换准则</span>
          <span class="icon iconfont download"></span>
        </div>
      </div>

      <div class="pagination">

        <nz-pagination
          [nzPageIndex]="1"
          [nzTotal]="10"
          [nzSize]="'small'"
          nzShowQuickJumper
        ></nz-pagination>
      </div>
    </div>
  </div>

</div>
