<div class="notice-list-wrap">
  <div class="content-block">
    <p><span class="icon iconfont to-left" (click)="goMainList()"></span></p>
    <div class="title">文件通知</div>
    <div class="content-wrap">
      <div class="notice-list">

        <div class="notice-item" *ngFor="let item of dataList;let i=index;" down-file file-name="{{item.title}}"   [http-data]="data" [http-url]="item.fileUrl+'?_allow_anonymous=true'">
          <div class="time">{{item.createTime|map:'date:yyyy-MM-dd HH:mm:ss'}}</div>
          <div class="line"></div>
          <span class="icon iconfont text"></span>
          <span class="one-line">{{item.title}}</span>
          <span class="icon iconfont download"></span>
        </div>
      </div>
      <div class="pagination">
        <nz-pagination
          [nzPageIndex]="1"
          [nzTotal]="listPageInfo.total"
          [nzSize]="'small'"
          (nzPageIndexChange)="getDataList($event)"
          nzShowQuickJumper
        ></nz-pagination>
      </div>
    </div>
  </div>

</div>
