<page-header [autoBreadcrumb]="false" [title]="'重大危险源详情'"></page-header>
<nz-card [nzBordered]="true">
  <form nz-form   se-container="1" labelWidth="200">
    <se label="重大危险源ID">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.majorHazardId}}
      </nz-col>
    </se>
    <se label="申请人" >
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.applicationName}}
      </nz-col>
    </se>
    <se label="申请时间" >
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.applicationTime|map:'date:yyyy-MM-dd HH:mm'}}
      </nz-col>
    </se>
    <se label="审核人">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.reviewName}}
      </nz-col>
    </se>
    <se label="审核时间">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.reviewTime|map:'date:yyyy-MM-dd HH:mm'}}
      </nz-col>
    </se>
    <se label="审核意见">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.reviewExplain}}
      </nz-col>
    </se>
    <se label="审核状态">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.reviewStatus|map:'reviewStatus'}}
      </nz-col>
    </se>
    <se>
      <div class="detail-modal-footer">
        <button nz-button type="button" (click)="returnBackToList()" nzType="primary">返回</button>
      </div>
    </se>
  </form>
</nz-card>


