<!--公示公告列表-->
<ng-container *ngIf="currentPageNum===pageEnum.List">
  <div class="notice-list-wrap">
    <div class="content-block">
      <p><span class="icon iconfont to-left" (click)="goMainList()"></span></p>
      <div class="title">公示公告</div>
      <div class="content-wrap">
        <div class="notice-list">
          <div class="notice-item" (click)="goDetail(1)">
            <div class="time">2019-11-29 10:02:39</div>
            <div class="line"></div>
            <span class="one-line">省应急管理厅关于拟纳入联合惩戒对象的公示</span>
          </div>
          <div class="notice-item" (click)="goDetail(2)">
            <div class="time">2019-11-15 15:30:16</div>
            <div class="line"></div>
            <span class="one-line">省应急管理厅关于召开中央企业结对帮扶提升徐州等五市危化品安全生产能力工作会议的通知</span>
          </div>
          <div class="notice-item" (click)="goDetail(3)">
            <div class="time">2019-11-25 14:02:13</div>
            <div class="line"></div>
            <span class="one-line">省应急管理厅关于召开全省安全生产调查统计和诚信体系建设工作会议的通知</span>
          </div>
          <div class="notice-item" (click)="goDetail(4)">
            <div class="time">2019-11-05 11:20:41</div>
            <div class="line"></div>
            <span class="one-line">江苏省应急管理厅公告2019年 第10号</span>
          </div>
          <div class="notice-item" (click)="goDetail(5)">
            <div class="time">2019-10-29 10:02:13</div>
            <div class="line"></div>
            <span class="one-line">江苏省应急管理厅关于采取有力措施切实加强停产复产关闭退出化工企业安全生产工作的通知</span>
          </div>
          <div class="notice-item" (click)="goDetail(6)">
            <div class="time">2019-11-21 15:49:15</div>
            <div class="line"></div>
            <span class="one-line">省应急管理厅关于召开全省化工企业安全生产信息化管理平台建设现场会的通知</span>
          </div>
          <div class="notice-item" (click)="goDetail(7)">
            <div class="time">2019-10-21 10:36:58</div>
            <div class="line"></div>
            <span class="one-line">关于印发《江苏省化工企业安全风险分区分级指南（试行）》的通知</span>
          </div>
        </div>

        <div class="pagination">

          <nz-pagination
            [nzPageIndex]="1"
            [nzTotal]="10"
            [nzSize]="'small'"
            nzShowQuickJumper
          ></nz-pagination>
        </div>
      </div>
    </div>

  </div>
</ng-container>

<ng-container *ngIf="currentPageNum===pageEnum.Detail">
  <publicity-notice-detail [dataInfo]="publicityNoticeDetail"  (returnToNoticeList)="goList()"></publicity-notice-detail>
</ng-container>
