<div class="temp-wrap">
  <nz-modal [(nzVisible)]="showModel" nzWidth="1100" [nzFooter]="null" (nzOnCancel)="close()">
    <nz-tabset>
      <nz-tab nzTitle="基本信息">
        <form nz-form [formGroup]="validateForm" >
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">危险单元名称</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">危险单元级别</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>是否涉及重点监管工艺</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">是否涉及剧毒品</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">投用时间</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>备案号</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">负责人姓名</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">联系电话</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>所在市</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">所在区、县</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">所在街道</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>具体地址</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">占地面积</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">R值</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>压力容器数量</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">三类压力容器数量</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">经度</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
             <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>纬度</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </form>
      </nz-tab>
      <nz-tab nzTitle="单元信息">
        <form nz-form [formGroup]="validateForm" >
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">危险单元名称</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">危险单元级别</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>是否涉及重点监管工艺</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">是否涉及剧毒品</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">投用时间</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>备案号</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">负责人姓名</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">联系电话</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>所在市</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">所在区、县</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">所在街道</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>具体地址</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">占地面积</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">R值</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>压力容器数量</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">三类压力容器数量</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">经度</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>纬度</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </form>
      </nz-tab>
      <nz-tab nzTitle="危险物质">
        <form nz-form [formGroup]="validateForm" >
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">危险单元名称</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">危险单元级别</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>是否涉及重点监管工艺</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">是否涉及剧毒品</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">投用时间</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>备案号</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">负责人姓名</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">联系电话</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>所在市</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">所在区、县</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">所在街道</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>具体地址</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">占地面积</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">R值</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>压力容器数量</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">三类压力容器数量</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">经度</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>纬度</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </form>
      </nz-tab>
      <nz-tab nzTitle="传感器监测">
        <form nz-form [formGroup]="validateForm" >
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">危险单元名称</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">危险单元级别</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>是否涉及重点监管工艺</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">是否涉及剧毒品</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">投用时间</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>备案号</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">负责人姓名</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">联系电话</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>所在市</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">所在区、县</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">所在街道</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>具体地址</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">占地面积</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">R值</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>压力容器数量</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">三类压力容器数量</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">经度</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>纬度</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </form>
      </nz-tab>
      <nz-tab nzTitle="视频监控">
        <form nz-form [formGroup]="validateForm" >
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">危险单元名称</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">危险单元级别</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>是否涉及重点监管工艺</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">是否涉及剧毒品</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">投用时间</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>备案号</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">负责人姓名</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">联系电话</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>所在市</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">所在区、县</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">所在街道</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>具体地址</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">占地面积</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">R值</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>压力容器数量</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">三类压力容器数量</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label nzFor="roomForm">经度</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                <nz-form-label>纬度</nz-form-label>
                <nz-form-control nzErrorTip="不为空">
                  <input nz-input formControlName="roomForm"  readonly/>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </form>
      </nz-tab>
    </nz-tabset>
  </nz-modal>
</div>

