<page-header [title]="'欧德油储（南京）有限公公司'" [logo]="logo" [action]="action" [extra]="extra" [tab]="tab">
  <ng-template #logo>
    <img src="https://gw.alipayobjects.com/zos/rmsportal/nxkuOJlFJuAUhzlMTCEe.png" alt=""/>
  </ng-template>
  <ng-template #action>
    <button nz-button [nzType]="'primary'">提交审核</button>
  </ng-template>
  <ng-template #extra>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">审批状态</p>
        <p class="text-lg">待审批</p>
      </div>
    </div>
  </ng-template>
  <sv-container size="small" col="3">
    <sv label="申请人员">范宝林</sv>
    <sv label="申请时间">2017-07-07</sv>
    <sv label="备注">第一次提交申请</sv>
    <sv label="审核人员">张三</sv>
    <sv label="审核时间">2017-07-08</sv>
    <sv label="审核意见">同意</sv>

  </sv-container>
</page-header>
<ng-template #tab>
  <nz-tabset (nzSelectChange)="change($event)">
    <nz-tab nzTitle="基本信息"></nz-tab>
    <nz-tab nzTitle="位置信息"></nz-tab>
    <nz-tab nzTitle="证照信息"></nz-tab>
    <nz-tab nzTitle="企业周边环境信息"></nz-tab>
    <nz-tab nzTitle="生产原料信息"></nz-tab>
    <nz-tab nzTitle="中间产品信息"></nz-tab>
    <nz-tab nzTitle="最终产品信息"></nz-tab>
  </nz-tabset>
</ng-template>
<nz-card [nzHoverable]="true" [nzBordered]="false" *ngIf="currentTab===tabEnum.BaseInfoTab">
  <sv-container size="large" title="企业基础信息">
    <sv label="企业全称">{{dataInfo.entprName}}</sv>
    <sv label="企业简称">{{dataInfo.entprSimpleName}}</sv>
    <sv label="行政区划">{{dataInfo.region}}</sv>
    <sv label="详细地址">{{dataInfo.detailAddr}}</sv>
    <sv label="法人代表">{{dataInfo.legalPerson}}</sv>
    <sv label="法人代表移动电话">{{dataInfo.legalMobile}}</sv>
    <sv label="主要负责人">{{dataInfo.boss}}</sv>
    <sv label="主要负责人移动电话">{{dataInfo.bossMobile}}</sv>
    <sv label="安环负责人">{{dataInfo.safetyManager}}</sv>
    <sv label="安环负责人移动电话">{{dataInfo.safetyMobile}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <sv-container size="large" title="企业经营信息">
    <sv label="经营范围">{{dataInfo.businessScope}}</sv>
    <sv label="经营状态">{{dataInfo.operatingStatus}}</sv>
    <sv label="经济类型">{{dataInfo.ecoType}}</sv>
    <sv label="企业规模">{{dataInfo.entprScale}}</sv>
    <sv label="从业人员数量">{{dataInfo.employeeNum}}</sv>
    <sv label="特种作业人员数量">{{dataInfo.specialOperationNum}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <sv-container size="large" title="企业安全信息">
    <sv label="标准化等级">{{dataInfo.standLevel}}</sv>
    <sv label="安全监管等级">{{dataInfo.safetySupervisionLevel}}</sv>
  </sv-container>
</nz-card>
<nz-card [nzHoverable]="false" [nzBordered]="true" *ngIf="currentTab===tabEnum.IdCardTab">
  <nz-card nzType="inner" nzTitle="1、社会信用代码">
    <sv-container size="large" title="">
      <sv label="统一社会信用代码">{{idCardInfo.uscCode}}</sv>
    </sv-container>
  </nz-card>
  <nz-divider></nz-divider>
  <nz-card nzType="inner" nzTitle="2、营业执照">
    <sv-container size="large" title="">
      <sv label="有效时间">{{idCardInfo.businessLicencesBeginTime|map:'date:yyyy-MM-dd'}}~{{idCardInfo.businessLicencesEndTime|map:'date:yyyy-MM-dd'}}</sv>
      <sv label="经营范围">{{idCardInfo.businessLicencesRange}}</sv>
      <sv label="发证机关">{{idCardInfo.businessLicencesAuthority}}</sv>
      <sv label="附件"><a [href]="idCardInfo.businessLicencesAccessory"  target="_blank" download="营业执照.jpg">查看</a></sv>
    </sv-container>
  </nz-card>
  <nz-divider></nz-divider>
  <nz-card nzType="inner" nzTitle="2、安全许可证">
    <sv-container size="large" title="">
      <sv label="编号">{{idCardInfo.safetyCertificateCode}}</sv>
      <sv label="有效期">{{idCardInfo.safetyCertificateBeginTime|map:'date:yyyy-MM-dd'}}~{{idCardInfo.safetyCertificateEndTime|map:'date:yyyy-MM-dd'}}</sv>
      <sv label="许可范围">{{idCardInfo.safetyPermitRange}}</sv>
      <sv label="发证机关">{{idCardInfo.safetyCertificateAuthority}}</sv>
      <sv label="附件"><a [href]="idCardInfo.safetyCertificateAccessory" target="_blank">查看</a></sv>

    </sv-container>
  </nz-card>
  <nz-divider></nz-divider>
  <nz-card nzType="inner" nzTitle="3、排污许可证">
    <sv-container size="large" title="">
      <sv label="许可证编号">{{idCardInfo.dischargePermitCode}}</sv>
      <sv label="有效期">{{idCardInfo.dischargePermitBeginTime|map:'date:yyyy-MM-dd'}}~{{idCardInfo.dischargePermitEndTime|map:'date:yyyy-MM-dd'}}</sv>
      <sv label="排污种类">{{idCardInfo.dischargePermitType}}</sv>
      <sv label="发证机关">{{idCardInfo.dischargePermitAuthority}}</sv>
      <sv label="附件"><a [href]="idCardInfo.dischargePermitAccessory"  target="_blank"  download="w3logo.jpg">查看</a></sv>
    </sv-container>
  </nz-card>
  <nz-divider></nz-divider>
  <nz-card nzType="inner" nzTitle="4、安评报告">
    <sv-container size="large" title="">
      <sv label="报告名称">{{idCardInfo.safetyReportName}}</sv>
      <sv label="备案时间">{{idCardInfo.safetyReportRecordTime|map:'date:yyyy-MM-dd'}}</sv>
      <sv label="安评机构名称">{{idCardInfo.safetyReportAgency}}</sv>
      <sv label="安评报告附件"><a [href]="idCardInfo.safetyReportAccessory"  target="_blank"  download="w3logo.jpg">查看</a></sv>
    </sv-container>
  </nz-card>
  <nz-divider></nz-divider>
  <nz-card nzType="inner" nzTitle="5、环评报告">
    <sv-container size="large" title="">
      <sv label="环评报告名称">{{idCardInfo.environmentReportName}}</sv>
      <sv label="备案时间">{{idCardInfo.environmentRecordTime|map:'date:yyyy-MM-dd'}}</sv>
      <sv label="环评机构名称">{{idCardInfo.environmentReportAgency}}</sv>
      <sv label="环评报告附件"><a [href]="idCardInfo.environmentReportAccessory"  target="_blank">查看</a></sv>
    </sv-container>
  </nz-card>
</nz-card>

<nz-card [nzHoverable]="false" [nzBordered]="true" [hidden]="currentTab!==tabEnum.PositionTab">
  <div #mapDivModal style="width: 100%;height:500px"></div>
</nz-card>

<nz-card [nzHoverable]="false" [nzBordered]="true" *ngIf="currentTab===tabEnum.EnterpriseEnvirTab">
  <st #st [page]="{showSize:true}" [pi]="listPageInfo.pi" [ps]="listPageInfo.ps" [total]="listPageInfo.total" [bordered]="true" [scroll]="{x: '2400px'}"
      [widthMode]="{ type: 'strict' }" [data]="dataList" [columns]="columns" class="mt-sm"></st>
</nz-card>

<nz-card [nzHoverable]="false" [nzBordered]="true" *ngIf="currentTab===tabEnum.MateriProductionTab">
  <st #st [page]="{showSize:true}" [pi]="listPageInfo.pi" [ps]="listPageInfo.ps" [total]="listPageInfo.total" [bordered]="true" [scroll]="{x: '2400px'}"
      [widthMode]="{ type: 'strict' }" [data]="dataList" [columns]="columns" class="mt-sm"></st>
</nz-card>

<nz-card [nzHoverable]="false" [nzBordered]="true" *ngIf="currentTab===tabEnum.MidProductTab">
  <st #st [page]="{showSize:true}" [pi]="listPageInfo.pi" [ps]="listPageInfo.ps" [total]="listPageInfo.total" [bordered]="true" [scroll]="{x: '2400px'}"
      [widthMode]="{ type: 'strict' }" [data]="dataList" [columns]="columns" class="mt-sm"></st>
</nz-card>

<nz-card [nzHoverable]="false" [nzBordered]="true" *ngIf="currentTab===tabEnum.FinalProductTab">
  <st #st [page]="{showSize:true}" [pi]="listPageInfo.pi" [ps]="listPageInfo.ps" [total]="listPageInfo.total" [bordered]="true" [scroll]="{x: '2400px'}"
      [widthMode]="{ type: 'strict' }" [data]="dataList" [columns]="columns" class="mt-sm"></st>
</nz-card>
<div class="detail-modal-footer">
  <button nz-button type="button" (click)="returnBackToList()" nzType="primary">返回</button>
</div>
