<page-header [title]="'基础详情页'"></page-header>
<nz-card [nzHoverable]="true" [nzBordered]="false">
  <sv-container size="large" title="企业详情">
    <sv label="生产经营单位名称">{{dataInfo.enterpriseName}}</sv>
    <sv label="经营规模">{{dataInfo.scale}}</sv>
    <sv label="所属行业">{{dataInfo.industry}}</sv>
    <sv label="所属地区">{{dataInfo.area}}</sv>
    <sv label="详细地址">{{dataInfo.enterpriseName}}</sv>
    <sv label="周边情况">{{dataInfo.environment}}</sv>
    <sv label="经度">{{dataInfo.longitude}}</sv>
    <sv label="纬度">{{dataInfo.latitude}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <sv-container size="large" title="联系人信息">
    <sv label="联系人姓名">{{dataInfo.contacts}}</sv>
    <sv label="联系电话">{{dataInfo.telephone}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <sv-container size="large" title="相关资料图">
    <sv label="营业执照" class="img-label"><a class="ml-sm" (click)="showPreviewModal('businessLicense')">预览</a></sv>
    <sv label="平面布置图" class="img-label"><a class="ml-sm" (click)="showPreviewModal('planeLayout')">预览</a></sv>
  </sv-container>
  <nz-divider></nz-divider>
</nz-card>


<nz-modal  [nzClosable]="false"
           [nzVisible]="isShowPreviewModal" [nzContent]="modalContent" [nzFooter]="null"
           (nzOnCancel)="isShowPreviewModal=false">
  <ng-template #modalContent>
    <img [src]="showImgUrl" [ngStyle]="{ 'width': '100%' }"/>
  </ng-template>
</nz-modal>

<div class="modal-footer">
  <button nz-button type="button">关闭</button>
</div>
