<page-header [title]="'企业生产场所详情'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form   se-container="1" labelWidth="200">
    <se label="生产场所编号">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.placeNo}}
      </nz-col>
    </se>
    <se label="生产场所名称" >
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.placeName}}
      </nz-col>
    </se>
    <se label="生产场所面积（平方米）" >
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.placeArea}}
      </nz-col>
    </se>
    <se label="投产时间">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.productionDate|map:'date:yyyy-MM-dd HH:mm:ss'}}
      </nz-col>
    </se>
    <se label="经度">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.longitude}}
      </nz-col>
    </se>
    <se label="纬度">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.latitude}}
      </nz-col>
    </se>
    <se label="在厂区的位置">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.locFactory}}
      </nz-col>
    </se>
    <se>
      <div class="detail-modal-footer">
        <button nz-button type="button" (click)="returnBackToList()" nzType="primary">返回</button>
      </div>
    </se>
  </form>
</nz-card>


