<page-header [autoBreadcrumb]="false" [title]="'生产场所详情页'"></page-header>
<nz-card [nzHoverable]="true" [nzBordered]="true">
  <sv-container size="large" title="基本信息">
    <sv label="生产场所编号">{{dataInfo.placeNo}}</sv>
    <sv label="生产场所名称">{{dataInfo.placeName}}</sv>
    <sv label="生产场所面积（平方米）">{{dataInfo.placeArea}}</sv>
    <sv label="投用时间">{{dataInfo.productionDate|map:'date:yyyy-MM-dd HH:mm:ss'}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <sv-container size="large" title="位置管理">
    <sv><div #mapDivModal style="width: 1000px;height:300px;z-index: 1"></div></sv>
    <sv></sv>
    <sv label="厂区中位置">{{dataInfo.locFactory}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <div class="text-lg mb-md">介质列表</div>
  <st #st [page]="{showSize:true, front: false}"
      [bordered]="true"
      [scroll]="{x: '1200px'}"
      [widthMode]="{ type: 'strict' }" [data]="dataInfo.majorHazardMaterials" [columns]="columns" class="mt-sm"></st>
</nz-card>
<footer-toolbar errorCollect>
  <button nz-button type="primary" (click)="returnToList()" nzType="primary">返回</button>
</footer-toolbar>
