<ng-container>
  <nz-card [hidden]="currentPageType!==pageTypeEnum.EnterpriseList" [nzBordered]="true" class="wraper">
    <div id="mapDiv" style="width: 100%;height: 750px"></div>

    <div class="sel-business">
      <nz-select  [(ngModel)]="selectedEnterpriseId" (ngModelChange)="changeSelValue($event)" [nzSize]="'large'" class="sel" nzShowSearch nzAllowClear nzPlaceHolder="搜索企业">
        <nz-option *ngFor="let item of businessSelOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
      </nz-select>
    </div>
  </nz-card>
</ng-container>

<ng-container *ngIf="currentPageType===pageTypeEnum.EnterpriseItem">
  <safety-map-enterprise (returnBackBtn)="returnToMap()"  [enterpriseInfo]="selEnterpriseInfo" [enterprisePosition]="selEnterprisePosition" [enterpriseId]="selectedEnterpriseId"></safety-map-enterprise>
</ng-container>

