header {
  background: url(../../../../assets/imgs/login-manage/one-page-header.png) center no-repeat, #000949;
  width: 100%;
  height: 96px;
  color: #00FFFB;
  text-align: center;
  font-size: 38px;
  line-height: 96px;
}
