<page-header [autoBreadcrumb]="false" [title]="'基础信息新增编辑页'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form  [formGroup]="validateForm" (ngSubmit)="submit()" se-container="1" labelWidth="200">

    <se label="企业的中文全称" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input  formControlName="entprName" placeholder="企业的中文全称"/>
        <!--<nz-form-explain *ngIf="validateForm.get('entprName').dirty && validateForm.get('entprName').errors">请输入企业的中文全称
        </nz-form-explain>-->
      </nz-form-control>
    </se>

    <se label="主要负责人" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input  formControlName="boss" placeholder="主要负责人"/>
       <!-- <nz-form-explain *ngIf="validateForm.get('boss').dirty && validateForm.get('boss').errors">请输入主要负责人
        </nz-form-explain>-->
      </nz-form-control>
    </se>
    <se label="主要负责人移动电话"  >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input  formControlName="bossMobile" placeholder="主要负责人移动电话" />
      </nz-form-control>
    </se>
    <se label="经营状态" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <nz-select formControlName="operatingStatus" [nzShowSearch]="true" [nzPlaceHolder]="'请选择经营状态'">
         <!-- <nz-option *ngFor="let item of operatingStatusOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>-->
        </nz-select>
      </nz-form-control>
    </se>
    <se label="经济类型">
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-control nzErrorTip="请选择经济类型">
            <nz-select formControlName="ecoType" [nzShowSearch]="true" [nzPlaceHolder]="'请选择经济类型'">
              <!--<nz-option *ngFor="let item of ecoTypeOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>-->
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-form-control>
    </se>
    <se label="企业规模">
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-control nzErrorTip="请选择企业规模">
            <nz-select formControlName="entprScale" [nzShowSearch]="true" [nzPlaceHolder]="'请选择企业规模'">
             <!-- <nz-option *ngFor="let item of entprScaleOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>-->
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-form-control>
    </se>
    <se>
      <button nz-button nzType="primary" type="submit" >提交</button>
      <button nz-button class="ml-sm" (click)="returnToList()">返回</button>
    </se>
  </form>
</nz-card>


