<page-header [autoBreadcrumb]="false" [title]="'传感器列表'"></page-header>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submit()" [nzLayout]="'vertical'">
  <nz-card [nzBordered]="true" nzTitle="传感器信息">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">传感器编号</nz-form-label>
          <nz-form-control nzErrorTip="请输入传感器编号">
            <input nz-input formControlName="sensorNo" placeholder="请输入传感器编号"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">传感器名称</nz-form-label>
          <nz-form-control nzErrorTip="请输入传感器名称">
            <input nz-input formControlName="sensorName" placeholder="请输入传感器名称"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>传感器类型</nz-form-label>
          <nz-form-control nzErrorTip="请选择传感器类型">
            <nz-select (ngModelChange)="changeSensorType($event)" formControlName="sensorType" [nzPlaceHolder]="'请选择火灾危险性类型'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of sensorTypeOptions" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16" *ngIf="showTrue">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">一级报警阈值</nz-form-label>
          <nz-form-control nzErrorTip="请输入一级报警阈值">
            <input nz-input formControlName="firstAlarmThreshold" placeholder="请输入一级报警阈值"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">二级报警阈值</nz-form-label>
          <nz-form-control nzErrorTip="请输入二级报警阈值">
            <input nz-input formControlName="secondAlarmThreshold" placeholder="请输入二级报警阈值"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16" *ngIf="!showTrue">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">低低位限报警阈值</nz-form-label>
          <nz-form-control nzErrorTip="请输入低低位限报警阈值">
            <input nz-input formControlName="firstAlarmThreshold" placeholder="请输入低低位限报警阈值"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">低位限报警阈值</nz-form-label>
          <nz-form-control nzErrorTip="请输入低位限报警阈值">
            <input nz-input formControlName="secondAlarmThreshold" placeholder="请输入低位限报警阈值"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>高位限报警阈值</nz-form-label>
          <nz-form-control nzErrorTip="高位限报警阈值">
            <input nz-input formControlName="thirdAlarmThreshold" placeholder="请输入高位限报警阈值"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16" *ngIf="!showTrue">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">高高位限报警阈值</nz-form-label>
          <nz-form-control nzErrorTip="请输入高高位限报警阈值">
            <input nz-input formControlName="fourthAlarmThreshold" placeholder="请输入高高位限报警阈值"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card [nzBordered]="true" nzTitle="位置信息">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>经度</nz-form-label>
          <nz-form-control nzErrorTip="请输入经度">
            <input nz-input  class="cursor-pointer" readonly (click)="showMap()" formControlName="longitude" placeholder="请输入经度" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>纬度</nz-form-label>
          <nz-form-control nzErrorTip="请输入纬度">
            <input nz-input  class="cursor-pointer" readonly (click)="showMap()" formControlName="latitude" placeholder="请输入纬度" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>厂区中位置</nz-form-label>
          <nz-form-control nzErrorTip="请输入厂区中位置">
            <textarea nz-input formControlName="locFactory"  [nzAutosize]="{ minRows: 4 }" placeholder="请输入厂区中位置"></textarea>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card [nzBordered]="true" nzTitle="重大危险源信息">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">重大危险源名称</nz-form-label>
            <nz-form-control nzErrorTip="请选择重大危险源名称">
              <nz-select (ngModelChange)="changeMajorNameList($event)" formControlName="majorHazardId" [nzShowSearch]="true" [nzPlaceHolder]="'请选择重大危险源名称'">
                <nz-option *ngFor="let item of majorHazardNameList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
              </nz-select>
            </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">重大危险源类型</nz-form-label>
          <nz-form-control nzErrorTip="请选择重大危险源类型">
            <nz-select  (ngModelChange)="changeMajorTypeList($event)" formControlName="partType" [nzShowSearch]="true" [nzPlaceHolder]="'请选择组成类型'">
              <nz-option *ngFor="let item of majorHazardTypeList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">重大危险源组成部分名称</nz-form-label>
          <nz-form-control nzErrorTip="请选择重大危险源组成部分名称">
            <nz-select (ngModelChange)="changeMajorNoList($event)"  formControlName="partId" [nzShowSearch]="true" [nzPlaceHolder]="'请选择重大危险源组成部分名称'">
              <nz-option *ngFor="let item of selMajorNoArray" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
        <nz-form-label nzFor="name">重大危险源组成部分编号</nz-form-label>
        <nz-form-control nzErrorTip="重大危险源组成部分编号">
          <input nz-input formControlName="partNo" readonly placeholder="重大危险源组成部分编号">
        </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <footer-toolbar errorCollect>
    <button nz-button type="primary" nzType="primary">提交</button>
    <button nz-button type="primary" (click)="returnToList()" nzType="default">返回</button>
  </footer-toolbar>
</form>




