<div class="content-wrap">

  <div class="left vertical-flex">
    <div class="block-item">
      <div class="header">地理位置</div>
      <div class="content">
        <div class="position-desc">吴中化工园区位于吴中经济技术开发区，规划面积约5.22平方公里，其中河东片区范围为东至苏嘉杭高速公路，西至京杭大运河，南至吴淞江北，北至北尹丰路；城南片区范围为东至京杭大运河，西至双祺路，南至兴吴路，北至南湖快速路</div>
        <img src="../../../../../assets/imgs/login-manage/position-map.png" alt="">
      </div>
    </div>
    <div class="block-item"></div>

  </div>
  <div class="right vertical-flex"></div>

</div>



