<div class="content-wrap">

  <div class="left vertical-flex">
    <div class="block-item">
      <div class="header">地理位置</div>
      <div class="content">
        <div class="position-desc">吴中化工园区位于吴中经济技术开发区，规划面积约5.22平方公里，其中河东片区范围为东至苏嘉杭高速公路，西至京杭大运河，南至吴淞江北，北至北尹丰路；城南片区范围为东至京杭大运河，西至双祺路，南至兴吴路，北至南湖快速路</div>
        <img src="../../../../../assets/imgs/login-manage/position-map.png" alt="">
      </div>
    </div>
    <div class="block-item">
      <div class="header">管委会成员</div>
      <div class="content">
        <img style="max-height: 230px" src="../../../../../assets/imgs/login-manage/tree.png" alt="">
        <div class="position-desc">主要职能：抓实长效管理工作，对园区的社会经济发展规划、产业优化布局、生态环境质量改善、安全生产监管、市政工程建设等实施集中管理职能，强化落实园区环境综合整治等各项方案的实施。</div>
      </div>
    </div>

  </div>
  <div class="right vertical-flex">

    <div class="block-item">
      <div class="header">产业结构</div>
      <div class="content">
        <div class="main-product">
          <div style="height: 40px">主要产业：</div>
          <div class="column-block">
            <div class="column-block-item">
              <div>生物医药</div>
              <img src="../../../../../assets/imgs/login-manage/column-block.png" alt="">
            </div>
            <div class="column-block-item">
              <div>精细化工</div>
              <img src="../../../../../assets/imgs/login-manage/column-block.png" alt="">
            </div>
            <div class="column-block-item">
              <div class="title">电子信息技术</div>
              <img src="../../../../../assets/imgs/login-manage/column-block.png" alt="">
            </div>
          </div>
        </div>

        <div class="settled-industry">
          <div style="height: 30px">入驻产业：</div>
          <div class="settled-industry-list">
            <div class="settled-industry-item">江苏吴中医药集团苏州制药厂</div>
            <div class="settled-industry-item">江苏吴中医药集团苏州制药厂</div>
            <div class="settled-industry-item">苏州晶瑞化学股份有限公司</div>
            <div class="settled-industry-item">苏州长征-欣凯制药有限公司</div>
            <div class="settled-industry-item">苏州瑞红电子化学品有限公</div>
            <div class="settled-industry-item">苏州维信电子有限公司</div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-item">
      <div class="header">园区企业状况</div>
      <div class="content">
        <div class="hexagons">
          <div class="hexagon-item">
            <div>367</div>
            <div>总企业数量</div>
          </div>
          <div class="hexagon-item">
            <div>72</div>
            <div>规上企业数量</div>
          </div>
        </div>
        <div class="rectangles">
          <div class="rectangle-item">
            <div>纳税：<span class="font-color">12亿</span></div>
            <div>全年产值：<span class="font-color">223亿</span></div>
            <div>2018年规上企业</div>
          </div>
          <div class="rectangle-item">
            <div>纳税：<span class="font-color">7亿</span></div>
            <div>全年产值：<span class="font-color">150亿</span></div>
            <div>2019年1～8月规上企业</div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>



