<ng-container *ngIf="currentPage===pageTypeEnum.List">
  <page-header [title]="'企业列表'"></page-header>
  <nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'" class="search__form">
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="no">规则编号</nz-form-label>
            <nz-form-control>
              <input nz-input  name="no" placeholder="请输入" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="status">使用状态</nz-form-label>
            <nz-form-control>
              <nz-select
                name="status"
                id="status"
                [nzPlaceHolder]="'请选择'"
                [nzShowSearch]="true"
              >
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24" >
          <nz-form-item>
            <nz-form-label nzFor="callNo">调用次数</nz-form-label>
            <nz-form-control>
              <input nz-input id="callNo" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="updatedAt">更新日期</nz-form-label>
            <nz-form-control> </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="status2">使用状态</nz-form-label>
            <nz-form-control>
              <nz-select [nzPlaceHolder]="'请选择'" nzId="status2" [nzShowSearch]="true">
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="status3">使用状态</nz-form-label>
            <nz-form-control>
              <nz-select [nzPlaceHolder]="'请选择'" nzId="status3" [nzShowSearch]="true">
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
          <button nz-button type="submit" [nzType]="'primary'" >查询</button>
          <button nz-button type="reset"  class="mx-sm">重置</button>
          <a (click)="expandForm = !expandForm">
            {{ expandForm ? '收起' : '展开' }}
            <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
          </a>
        </div>
      </div>
    </form>
    <button nz-button [nzType]="'primary'">
      <i nz-icon nzType="plus"></i>
      <span>新建</span>
    </button>
    <button nz-button>批量操作</button>
    <button nz-button nz-dropdown [nzDropdownMenu]="batchMenu" nzPlacement="bottomLeft">
      更多操作
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #batchMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>删除</li>
        <li nz-menu-item >批量审批</li>
      </ul>
    </nz-dropdown-menu>

    <app-ufast-table [dataList]="dataList" [tableConfig]="tableConfig" [getListHandle]="getDataList.bind(this)"></app-ufast-table>
  </nz-card>


</ng-container>

<ng-container *ngIf="currentPage===pageTypeEnum.DetailOrExamine">
  <app-basic-info-detail></app-basic-info-detail>
</ng-container>
<ng-template #operationTpl  let-id="id">
  <span class="operate-text">编辑</span>
  <span class="operate-text">删除</span>
</ng-template>
