<ng-container *ngIf="currentPage===pageTypeEnum.List">
  <page-header [title]="'中间产品信息列表'"></page-header>
  <nz-card [nzBordered]="false">

    <button nz-button [nzType]="'primary'" class="m-b-sm"  (click)="add()">
      <i nz-icon nzType="plus"></i>
      <span>新建</span>
    </button>

    <st #st [page]="{showSize:true, front: false}"
        [pi]="listPageInfo.pi" [ps]="listPageInfo.ps" [total]="listPageInfo.total" [bordered]="true"
        [scroll]="{x: '1000px'}"
        [widthMode]="{ type: 'strict' }" [data]="dataList"  (change)="changePage($event)" [columns]="columns" class="mt-sm"></st>
  </nz-card>
</ng-container>

<ng-container *ngIf="currentPage===pageTypeEnum.DetailOrExamine">
  <app-basic-info-intermediate-product-info-detail [id]="this.itemId" [currentPageNum]="listPageInfo.ps" (returnBack)="returnToList($event)"></app-basic-info-intermediate-product-info-detail>
</ng-container>

<ng-container *ngIf="currentPage===pageTypeEnum.AddOrEdit">
  <app-basic-info-intermediate-product-info-edit-add [id]="this.itemId" [currentPageNum]="listPageInfo.pi" (returnBack)="returnToList($event)"></app-basic-info-intermediate-product-info-edit-add>
</ng-container>

