<page-header [autoBreadcrumb]="false" [title]="'重点危险化工工艺列表'"></page-header>
<nz-card [nzBordered]="true">
  <form nz-form  [formGroup]="validateForm" (ngSubmit)="submit()" se-container="1" labelWidth="200">
    <se label="危险工艺名称" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <nz-select formControlName="processType" [nzShowSearch]="true" [nzPlaceHolder]="'请选择危险工艺名称'">
          <nz-option *ngFor="let item of processTypeOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="validateForm.get('processType').dirty && validateForm.get('processType').errors">请输入危险工艺名称
        </nz-form-explain>
      </nz-form-control>
    </se>
    <se>
      <button nz-button nzType="primary" type="submit" >提交</button>
      <button nz-button class="ml-sm" (click)="returnToList()">返回</button>
    </se>
  </form>
</nz-card>


