<page-header [autoBreadcrumb]="false" [title]="'摄像头详情'"></page-header>
<nz-card [nzHoverable]="true" [nzBordered]="false">
  <sv-container size="large" title="基本信息">
    <sv label="摄像头编号">{{dataInfo.cameraNo}}</sv>
    <sv label="摄像头名称">{{dataInfo.cameraName}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <sv-container size="large" title="位置信息">
    <sv label="经度">{{dataInfo.longitude}}</sv>
    <sv label="纬度">{{dataInfo.latitude}}</sv>
    <sv label="在厂区的位置">{{dataInfo.locFactory}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <sv-container size="large" title="重大危险源信息">
    <sv label="重大危险源名称">{{dataInfo.majorHazardName}}</sv>
    <sv label="重大危险源类型">{{dataInfo.partType|map:'partType'}}</sv>
    <sv label="重大危险源组成部分名称">{{dataInfo.partName}}</sv>
  </sv-container>
</nz-card>
<footer-toolbar errorCollect>
  <button nz-button type="primary" (click)="returnToList()" nzType="default">返回</button>
</footer-toolbar>
