<page-header [title]="'企业储罐新增编辑页'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form  [formGroup]="validateForm" (ngSubmit)="submit()" se-container="1" labelWidth="200">
    <se label="储罐编号" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input  formControlName="tankNo" placeholder="库房编号"/>
        <nz-form-explain *ngIf="validateForm.get('tankNo').dirty && validateForm.get('tankNo').errors">请输入库房编号
        </nz-form-explain>
      </nz-form-control>
    </se>

    <se label="储罐名称" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input  formControlName="tankName" placeholder="库房名称"/>
        <nz-form-explain *ngIf="validateForm.get('tankName').dirty && validateForm.get('tankName').errors">请输入库房名称
        </nz-form-explain>
      </nz-form-control>
    </se>
    <se label="储罐类型"  >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <nz-select formControlName="tankType" [nzShowSearch]="true" [nzPlaceHolder]="'请选择库房形式'">
          <nz-option *ngFor="let item of tankTypeOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </se>
    <se label="储罐形式" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <nz-select formControlName="tankForm" [nzShowSearch]="true" [nzPlaceHolder]="'请选择库房形式'">
          <nz-option *ngFor="let item of tankFormOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </se>
    <se label="储罐结构" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <nz-select formControlName="tankStructure" [nzShowSearch]="true" [nzPlaceHolder]="'请选择库房形式'">
          <nz-option *ngFor="let item of tankStructureOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </se>
    <se label="储罐材质" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <nz-select formControlName="tankMate" [nzShowSearch]="true" [nzPlaceHolder]="'请选择库房形式'">
          <nz-option *ngFor="let item of tankMateOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </se>
    <se label="储罐容量" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input  formControlName="tamkCapacity" placeholder="库房编号"/>
        <nz-form-explain *ngIf="validateForm.get('tamkCapacity').dirty && validateForm.get('tamkCapacity').errors">请输入库房编号
        </nz-form-explain>
      </nz-form-control>
    </se>
    <se label="投产时间" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <nz-date-picker
          nzShowTime
          nzFormat="yyyy-MM-dd HH:mm:ss"
          nzPlaceHolder="请选择投产时间"
          formControlName="productionDate"
        ></nz-date-picker>
        <nz-form-explain *ngIf="validateForm.get('productionDate').dirty && validateForm.get('productionDate').errors">请选择投产时间
        </nz-form-explain>
      </nz-form-control>
    </se>
    <se label="经度">
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input maxlength="80" class="cursor-pointer" readonly (click)="showMap()" maxlength="255" formControlName="longitude" placeholder="">
        <nz-form-explain *ngIf="validateForm.get('longitude').dirty && validateForm.get('longitude').errors">请输入经度
        </nz-form-explain>
      </nz-form-control>
    </se>
    <se label="纬度" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input maxlength="80" class="cursor-pointer" readonly (click)="showMap()" maxlength="255" formControlName="latitude" placeholder="">
        <nz-form-explain *ngIf="validateForm.get('latitude').dirty && validateForm.get('latitude').errors">请输入纬度
        </nz-form-explain>
      </nz-form-control>
    </se>
    <se label="在厂区的位置" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
       <textarea
         nz-input
         formControlName="locFactory"
         [nzAutosize]="{ minRows: 4 }"
         placeholder="在厂区的位置"
       ></textarea>
      </nz-form-control>
    </se>
    <se>
      <button nz-button nzType="primary" type="submit" >提交</button>
      <button nz-button class="ml-sm" (click)="returnToList()">返回</button>
    </se>
  </form>
</nz-card>



