<ng-container *ngIf="currentPageNum===pageEnum.List">
  <div class="notice-list-wrap">
    <div class="content-block">
      <p><span class="icon iconfont to-left" (click)="goMainList()"></span></p>
      <div class="title">行业动态</div>
      <div class="content-wrap">
        <div class="notice-list">
          <div class="notice-item"  *ngFor="let item of dataList;let i=index;"  (click)="goDetail(i)">
            <div class="time">{{item.createTime|map:'date:yyyy-MM-dd HH:mm:ss'}}</div>
            <div class="line"></div>
            <span class="one-line">{{item.title}}</span>
          </div>
        </div>

        <div class="pagination">

          <nz-pagination
            [nzPageIndex]="1"
            [nzTotal]="listPageInfo.total"
            [nzSize]="'small'"
            (nzPageIndexChange)="getDataList($event)"
            nzShowQuickJumper
          ></nz-pagination>
        </div>
      </div>
    </div>

  </div>
</ng-container>

<ng-container *ngIf="currentPageNum===pageEnum.Detail">
  <industry-dynamics-detail [dataInfo]="selData"  (returnToNoticeList)="goList()"></industry-dynamics-detail>
</ng-container>

