<page-header [title]="'企业基本信息'"></page-header>
<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()" [nzLayout]="'vertical'">
  <nz-card [nzBordered]="true" nzTitle="企业基础信息">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">企业中文全称</nz-form-label>
          <nz-form-control nzErrorTip="请输入企业的中文全称">
            <input nz-input formControlName="entprName"  placeholder="请输入企业中文全称" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">企业简称</nz-form-label>
          <nz-form-control nzErrorTip="请输入企业简称">
            <input nz-input formControlName="tankName"  placeholder="请输入企业简称" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>行政区划</nz-form-label>
          <nz-form-control nzErrorTip="请选择储罐类型">
            <nz-select formControlName="tankType" [nzPlaceHolder]="'请选择储罐类型'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of tankTypeOptions" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>详细地址</nz-form-label>
          <nz-form-control nzErrorTip="请选择储罐形式">
            <nz-select formControlName="tankForm" [nzPlaceHolder]="'请选择储罐形式'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of tankFormOptions" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>储罐结构</nz-form-label>
          <nz-form-control nzErrorTip="请选择储罐结构">
            <nz-select formControlName="tankStructure" [nzPlaceHolder]="'请选择储罐结构'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of tankStructureOptions" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>储罐材质</nz-form-label>
          <nz-form-control nzErrorTip="请选择储罐材质">
            <nz-select formControlName="tankMate" [nzPlaceHolder]="'请选择储罐材质'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of tankMateOptions" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">储罐容量</nz-form-label>
          <nz-form-control nzErrorTip="请输入储罐容量">
            <input nz-input formControlName="tankCapacity"  placeholder="请输入储罐容量" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">投产时间</nz-form-label>
          <nz-form-control nzErrorTip="请输入投产时间">
            <nz-date-picker
              nzShowTime
              [nzStyle]="{ width: '100%' }"
              nzFormat="yyyy-MM-dd HH:mm:ss"
              nzPlaceHolder="请选择投产时间"
              formControlName="productionDate"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card [nzBordered]="true" nzTitle="位置管理">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>经度</nz-form-label>
          <nz-form-control nzErrorTip="请输入经度">
            <input nz-input  class="cursor-pointer" readonly (click)="showMap()" formControlName="longitude" placeholder="请输入经度" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>纬度</nz-form-label>
          <nz-form-control nzErrorTip="请输入纬度">
            <input nz-input  class="cursor-pointer" readonly (click)="showMap()" formControlName="latitude" placeholder="请输入纬度" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>厂区中位置</nz-form-label>
          <nz-form-control nzErrorTip="请输入厂区中位置">
            <textarea nz-input formControlName="locFactory"  [nzAutosize]="{ minRows: 4 }" placeholder="请输入厂区中位置"></textarea>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card [nzBordered]="true" nzTitle="企业经营信息">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">储罐编号</nz-form-label>
          <nz-form-control nzErrorTip="请输入储罐编号">
            <input nz-input formControlName="tankNo" id="tankNo" placeholder="请输入储罐编号" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">储罐名称</nz-form-label>
          <nz-form-control nzErrorTip="请输入储罐名称">
            <input nz-input formControlName="tankName" id="tankName" placeholder="请输入储罐名称" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>储罐类型</nz-form-label>
          <nz-form-control nzErrorTip="请选择储罐类型">
            <nz-select formControlName="tankType" [nzPlaceHolder]="'请选择储罐类型'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of tankTypeOptions" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>储罐形式</nz-form-label>
          <nz-form-control nzErrorTip="请选择储罐形式">
            <nz-select formControlName="tankForm" [nzPlaceHolder]="'请选择储罐形式'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of tankFormOptions" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>储罐结构</nz-form-label>
          <nz-form-control nzErrorTip="请选择储罐结构">
            <nz-select formControlName="tankStructure" [nzPlaceHolder]="'请选择储罐结构'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of tankStructureOptions" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>储罐材质</nz-form-label>
          <nz-form-control nzErrorTip="请选择储罐材质">
            <nz-select formControlName="tankMate" [nzPlaceHolder]="'请选择储罐材质'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of tankMateOptions" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">储罐容量</nz-form-label>
          <nz-form-control nzErrorTip="请输入储罐容量">
            <input nz-input formControlName="tankCapacity" id="name2" placeholder="请输入储罐容量" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">投产时间</nz-form-label>
          <nz-form-control nzErrorTip="请输入投产时间">
            <nz-date-picker
              nzShowTime
              [nzStyle]="{ width: '100%' }"
              nzFormat="yyyy-MM-dd HH:mm:ss"
              nzPlaceHolder="请选择投产时间"
              formControlName="productionDate"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <footer-toolbar errorCollect>
    <button nz-button type="primary" nzType="primary">更新基本信息</button>
  </footer-toolbar>
</form>
