<page-header [autoBreadcrumb]="false" [title]="'重点监管危险化学品详情'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="validateForm" se-container="1" labelWidth="200">
    <se label="品名">
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input formControlName="productName" readonly />
      </nz-form-control>
    </se>
    <se label="别名">
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input formControlName="alias" readonly />
      </nz-form-control>
    </se>
    <se label="CAS号">
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input formControlName="casNo" readonly />
      </nz-form-control>
    </se>
    <se>
      <button nz-button type="primary" (click)="returnBackToList()" nzType="primary">返回</button>
    </se>
  </form>
</nz-card>


