<page-header [autoBreadcrumb]="false" [title]="'重点监管危险化学品详情'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form   se-container="1" labelWidth="200">
    <se label="品名">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.productName}}
      </nz-col>
    </se>
    <se label="别名" >
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.alias}}
      </nz-col>
    </se>
    <se label="CAS号" >
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        {{dataInfo.casNo}}
      </nz-col>
    </se>
    <se>
      <div class="detail-modal-footer">
        <button nz-button type="button" (click)="returnBackToList()" nzType="primary">返回</button>
      </div>
    </se>
  </form>
</nz-card>


