<page-header [autoBreadcrumb]="false" [title]="'库房详情页'"></page-header>
<nz-card [nzHoverable]="true" [nzBordered]="false">
  <sv-container size="large" title="基本信息">
    <sv label="库房编号">{{dataInfo.roomNo}}</sv>
    <sv label="库房名称">{{dataInfo.roomName}}</sv>
    <sv label="库房面积（平方米）">{{dataInfo.roomArea}}</sv>
    <sv label="库房形式">{{dataInfo.roomForm|map:'roomForm'}}</sv>
    <sv label="火灾危险性等级">{{dataInfo.fireLevel|map:'fireLevel'}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <sv-container size="large" title="位置管理">
    <sv label="经纬度"><span (click)="showMap()" class="operate-text">查看</span></sv>
    <sv label="厂区中位置">{{dataInfo.locFactory}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <div class="text-lg mb-md">介质列表</div>
  <st #st [page]="{showSize:true, front: false}"
      [bordered]="true"
      [scroll]="{x: '1200px'}"
      [widthMode]="{ type: 'strict' }" [data]="dataInfo.majorHazardMaterials" [columns]="columns" class="mt-sm"></st>
</nz-card>
<footer-toolbar errorCollect>
  <button nz-button type="primary" (click)="returnToList()" nzType="primary">返回</button>
</footer-toolbar>
