<page-header [title]="'企业库区新增编辑页'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form  [formGroup]="validateForm" (ngSubmit)="submit()" se-container="1" labelWidth="200">

    <se label="库房编号" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input  formControlName="roomNo" placeholder="库房编号"/>
        <nz-form-explain *ngIf="validateForm.get('roomNo').dirty && validateForm.get('roomNo').errors">请输入库房编号
        </nz-form-explain>
      </nz-form-control>
    </se>

    <se label="库房名称" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input  formControlName="roomName" placeholder="库房名称"/>
        <nz-form-explain *ngIf="validateForm.get('roomNo').dirty && validateForm.get('roomNo').errors">请输入库房名称
        </nz-form-explain>
      </nz-form-control>
    </se>
    <se label="库房面积（平方米）"  >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <input nz-input  formControlName="roomArea" placeholder="库房面积" />
      </nz-form-control>
    </se>
    <se label="库房形式" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <nz-select formControlName="roomForm" [nzShowSearch]="true" [nzPlaceHolder]="'请选择库房形式'">
          <nz-option *ngFor="let item of roomFormOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </se>
    <se label="火灾危险性等级">
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-control nzErrorTip="请选择火灾危险性等级">
            <nz-select formControlName="fireLevel" [nzShowSearch]="true" [nzPlaceHolder]="'请选择火灾危险性等级'">
              <nz-option *ngFor="let item of fireLevelOptions" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-form-control>
    </se>
    <se label="经度">
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
       <!-- <input nz-input  formControlName="longitude" placeholder="经度"/>-->
        <input nz-input maxlength="80" class="cursor-pointer" readonly (click)="showMap()" maxlength="255" formControlName="longitude" placeholder="">
        <nz-form-explain *ngIf="validateForm.get('longitude').dirty && validateForm.get('longitude').errors">请输入经度
        </nz-form-explain>
      </nz-form-control>
    </se>
    <se label="纬度" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
       <!-- <input nz-input  formControlName="latitude" placeholder="纬度"/>-->
        <input nz-input maxlength="80" class="cursor-pointer" readonly (click)="showMap()" maxlength="255" formControlName="latitude" placeholder="">
        <nz-form-explain *ngIf="validateForm.get('latitude').dirty && validateForm.get('latitude').errors">请输入纬度
        </nz-form-explain>
      </nz-form-control>
    </se>
    <se label="在厂区的位置" >
      <nz-form-control nzLg="8" nzMd="12" nzSm="24">
       <textarea
         nz-input
         formControlName="locFactory"
         [nzAutosize]="{ minRows: 4 }"
         placeholder="在厂区的位置"
       ></textarea>
      </nz-form-control>
    </se>
    <se>
      <button nz-button nzType="primary" type="submit" >提交</button>
      <button nz-button class="ml-sm" (click)="returnToList()">返回</button>
    </se>
  </form>
</nz-card>


